{% extends "base.html" %}

{% block content %}
  <section class="flex justify-between">
    <h1 class="text-lg font-bold">Achat - {{ purchase }}</h1>
    <a href="{% url 'purchases:index' %}"
       class="text-blue-600 hover:underline hover:text-blue-500">All Achats</a>
  </section>
  <ul class="py-5">
    <li>
      <span class="font-bold">ID:</span> {{ purchase.id }}
    </li>
    <li>
      <span class="font-bold">créé:</span> {{ purchase.created }}
    </li>
    <li>
      <span class="font-bold">mise à jour:</span> {{ purchase.modified }}
    </li>
    <li>
      <span class="font-bold">Fournisseur:</span> {{ purchase.supplier }}
    </li>
    <li>
      <span class="font-bold">Produit:</span> {{ purchase.product }}
    </li>
    <li>
      <span class="font-bold">status:</span> {{ purchase.status }}
    </li>
    <li>
      <span class="font-bold">Coût total:</span> {{ purchase.total_cost }}
    </li>
    <li>
      <span class="font-bold">Date de commande:</span> {{ purchase.order_date }}
    </li>
    <li>
      <span class="font-bold">Date de réception:</span> {{ purchase.received_date }}
    </li>
  </ul>
  <a class="py-2 px-4 bg-blue-600 hover:bg-blue-700 focus:ring-blue-500 focus:ring-offset-blue-200 text-white text-center text-base font-semibold focus:outline-none focus:ring-2 focus:ring-offset-2  rounded-lg"
     href="{% url 'purchases:update' purchase.pk %}">Edit</a>
{% endblock content %}
