{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}
  <section class="flex justify-between">
    <h1 class="py-4 text-lg font-bold">Achat Update - {{ purchase }}</h1>
    <a href="{% url 'purchases:index' %}"
       class="text-blue-600 hover:text-blue-500 hover:underline">All Achats</a>
  </section>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit"
            class="py-2 px-4 text-base font-semibold text-center text-white bg-blue-600 rounded-lg cursor-pointer hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-blue-200 focus:outline-none">
      Save
    </button>
  </form>
{% endblock content %}
