{% extends "base.html" %}

{% load partials %}

{% block content %}
  <section class="flex justify-between">
    <h1 class="text-lg font-bold">Fournisseurs</h1>
    <a href="{% url 'suppliers:create' %}"
       class="py-2 px-4 text-base font-semibold text-center text-white bg-blue-600 rounded-lg cursor-pointer hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-blue-200 focus:outline-none">
      Nouveau Fournisseur
    </a>
  </section>

  {% partialdef table inline=True %}
    <div id="table">
      <div class="flex flex-col">
        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="inline-block py-2 min-w-full sm:px-6 lg:px-8">
            <div class="overflow-x-auto">
              <table class="min-w-full">
                <thead class="text-sm text-gray-700 uppercase bg-gray-100 border">
                  {% with th_class="text-sm font-medium text-gray-900 border-r px-6 py-4 text-left" %}
                    <tr>
                      <th scope="col" class="{{ th_class }}">ID</th>
                      <th scope="col" class="{{ th_class }}">Nom</th>
                      <th scope="col" class="{{ th_class }}">Contact</th>
                      <th scope="col" class="{{ th_class }}">Adresse</th>
                      <th scope="col" class="{{ th_class }}">Date de création</th>
                      <th scope="col">Actions</th>
                    </tr>
                  {% endwith %}
                </thead>
                <tbody>
                  {% with td_class="px-6 py-4 whitespace-nowrap text-sm font-medium border-r text-gray-900" %}
                    {% for supplier in suppliers_page %}
                      <tr class="border hover:bg-neutral-100">
                        <td class="{{ td_class }}">
                          <a class="font-bold hover:underline"
                             href="{% url 'suppliers:detail' supplier.pk %}">{{ supplier.id }}</a>
                        </td>
                        <td class="{{ td_class }}">{{ supplier.name }}</td>
                        <td class="{{ td_class }}">{{ supplier.contact_info }}</td>
                        <td class="{{ td_class }}">{{ supplier.address }}</td>
                        <td class="{{ td_class }}">{{ supplier.created }}</td>
                        <td class="{{ td_class }} flex gap-8">
                          <a class="hover:text-blue-500"
                             href="{% url 'suppliers:detail' supplier.pk %}">{% heroicon_outline "eye" size="18" %}</a>
                          <a class="hover:text-blue-500"
                             href="{% url 'suppliers:update' supplier.pk %}">
                            {% heroicon_outline "pencil-square" size="18" %}
                          </a>
                          <a class="text-red-600 cursor-pointer hover:text-red-500"
                             hx-target="closest tr"
                             hx-swap="outerHTML"
                             hx-confirm="Are you sure you?"
                             hx-delete="{% url 'suppliers:delete' supplier.pk %}">
                            {% heroicon_outline "trash" size="18" %}
                          </a>
                        </td>
                      </tr>
                    {% endfor %}
                  {% endwith %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      {% if suppliers_page.paginator.num_pages > 1 %}
        <div class="flex justify-end py-4">
          <ul class="flex rounded border index-reset border-grey-light"
              hx-target="#table"
              hx-swap="outerHTML"
              hx-push-url="true">
            {% with page_class="cursor-pointer block px-3 py-2 hover:text-white hover:bg-blue-500 border-r border-grey-light" %}
              {% if suppliers_page.has_previous %}
                <li>
                  <a class="{{ page_class }}" hx-get="?page=1">First</a>
                </li>
                <li>
                  <a class="{{ page_class }}"
                     hx-get="?page={{ suppliers_page.previous_page_number }}">Previous</a>
                </li>
              {% endif %}
              {% for num in suppliers_page.paginator.page_range %}
                {% if suppliers_page.number == num %}
                  <li>
                    <a class="{{ page_class }}"  hx-get="?page={{ num }}">{{ num }}</a>
                  </li>
                {% elif num > suppliers_page.number|add:'-3' and num < suppliers_page.number|add:'3' %}
                  <li>
                    <a class="{{ page_class }}" hx-get="?page={{ num }}">{{ num }}</a>
                  </li>
                {% endif %}
              {% endfor %}
              {% if suppliers_page.has_next %}
                <li>
                  <a class="{{ page_class }}"
                     hx-get="?page={{ suppliers_page.next_page_number }}">Next</a>
                </li>
                <li>
                  <a class="block py-2 px-3 cursor-pointer hover:text-white hover:bg-blue-500"
                     hx-get="?page={{ suppliers_page.paginator.num_pages }}">Last</a>
                </li>
              {% endif %}
            {% endwith %}
          </ul>
        </div>
      {% endif %}
    </div>
  {% endpartialdef %}

{% endblock content %}
